@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-grayBrown;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155);
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

html,
body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  font-size: 16px;
  @apply bg-white;
}

.text-2xs {
  font-size: 0.6rem;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.left-col {
  @apply overflow-scroll bg-grayBrown px-7 py-10 sm:py-24;
  height: 100vh;
}

@media (max-width: 768px) {
  .left-col {
    height: auto;
  }
}

.dash-transition {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.posts {
  width: 100%;
  overflow-x: scroll;
  @apply mt-2 mb-5 flex flex-row;
  max-height: 13.6rem;
  max-width: 100%;
}

.middle-col {
  height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .middle-col {
    height: auto;
  }
}

.right-col {
  height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .right-col {
    height: auto;
  }
}
